@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
    width: 50%;
    margin: auto;
    font-family: 'Helvetica,' sans-serif;
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-family: 'Aboreto', sans-serif;
}

p {
    color: chartreuse;
}


img[src*='mypic'] {
    height: 250px;
    width: auto;
}

.circle {
    width: 30px;
    height: 30px;
    background: aqua;
    border-radius: 50%;
    margin: 10px 10px;
}

.circle:hover {
    background-color: blue;
}
.button_container {
    height: 200px;
    width: 1000px;
    border: solid black;
}
.button {
    width: 200px;
    height: 190px;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 200px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    border: 5px blue solid;
    border-radius: 10px;
    margin: 25px auto;
}

.close {
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid red;
}

.button:hover {
    background-color: red;
}

.background_image {
    background-image: url('./js/pictures/paris.jpg');
    height: 800px;
    width: auto;
    text-align: center;
    text-transform: uppercase;
}

.parent {
    border: 5px solid red;
    margin-bottom: 100px;
    width: 200px;
    height: 150px;
}

.child {
    border: 5px solid blue;
    padding: 30px;
    width: 250px;
    height: 350px;
}


.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 46px;
    border: 1px solid blueviolet;
    font-size: 25px;
    vertical-align: middle;
}

#inputWeight {
    width: 300px;
    height: 46px;
    border: 1px solid blueviolet;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;
}

.to-dos .weight {
    margin-top: 25px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.recycle {
    margin: 30px;
}


.correct {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
}

.partially-correct {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
}

.incorrect {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}

.unattempted {
    height: 25px;
    width: 25px;
    background-color: blueviolet;
    border-radius: 50%;
}

.questions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
